.footerContainer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-content: center;
    background-color: black;
}

.Github{
    margin-top: 5px;

}

.footerLink{
    text-decoration: none;
}

.team-members{
    display: flex;
    flex-direction: row;
    
}
.team-name {
    color: white;
    font-size: large;
    text-align: center;
}

.paul {
   margin-left: 100px;
   margin-right: 100px;
}

.simon {
    margin-right: 100px;

}

.fa-github{
    margin-right: 20px;
}

.fa-github,
.fa-linkedin{
    color: white;
    font-size: 25px;

}