.sneax-detail-container {
    display: grid;
    grid-template-columns: 9fr 5fr;
    background-color: white;
    margin-top: 35px;
    /* width: 55%; */
}

.sneax-info-container {
    display: flex;
    flex-direction: row;
    width: auto;
    height: 100vh;
    /* margin-left: 500px; */
    /* font-family: 'Rubik', sans-serif */

}

.sneax-info-box {
    margin-left: 70px;
    width: 80%;
}

.sneax-name-brand-box {
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 0;
}

.name {
    padding: 0;
    margin: 0;
}

.sneax-name {
    font-family: 'Rubik', sans-serif;
    font-weight: 550;
    height: 15px;
}

.brand {
    margin-left: 10px;
}

.sneax-brand {
    font-family: 'Rubik', sans-serif;
    font-weight: 500;
    font-size: 20px;
    padding: 0;
    margin: 0;
}

.sneax-price {
    /* margin: 1px 0 0 0 ; */
    padding: 0px;
    font-family: 'Rubik', sans-serif;
    font-weight: 500;
    margin-bottom: 10px;

}

.sneax-image {
    width: 40%;
}

.sneax-image img {
    width: 250%;
}

/* *************** Details******** */
.sneax-about-container {
    border-top: 1px solid E3E9ED;
    border-bottom: 2px solid #E3E9ED
}

.sneax-about-container h1 {
    font-family: 'Rubik', sans-serif;
    font-weight: 500;
}

.sneax-details {
    margin-bottom: 100px;
}

.random-words {
    height: 120px;
}

.random-words p {
    width: 90%;
    font-family: 'Rubik', sans-serif;
    color: #6F787E;
    margin-left: 10px;
    font-size: 15px;
}


/* ************ Shares ********** */
.shares-container {
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    width: auto;
    position: sticky;
    height: 600px;
    width:  100%;

}

.shares-from {
    display: flex;
    flex-direction: row;
    padding: 0;
    width: 0;

}

.investSpan {
    margin: 0;
    /* display: flex;
    flex-direction: column; */
    position: relative;

    width: 1000px
}

.shares-form-container {
    box-shadow: 0px 8px 24px rgb(0 0 0 / 20%);
    border-radius: 6px;
    padding: 30px;
    width: 270px;
    height: 360px;
    background-color: white;
    /* background-color: #000000;
    background-image: linear-gradient(315deg, #000000 0%, #414141 74%); */
    position: absolute;
    top: 80px;
}

.buying-power {
    position: absolute;
    bottom: 0px;
    border-top: 1px solid #E3E9ED;
    width: 330px;
    left: 0px;
    text-align: center;
}

.purchase-btn {
    border-radius: 4px;
    border: 1px blue;
    background: radial-gradient(900px 900px at top center, #5e5e5e, #2d3334, #262626);
    color: #FFFFFF;
    font-size: 12px;
    font-weight: bold;
    padding: 12px;
    letter-spacing: 1px;
    text-transform: uppercase;
    margin: 5px;
    float: right;
    width: 115px;
    height: 50px;
    position: relative;
    top: 0px;
    transition: all ease 0.3s;
}

.purchase-btn:hover {
    color: #ffffff !important;
    background-color: #3f0d12;
    background-image: linear-gradient(315deg, #3f0d12 0%, #a71d31 74%);
    transition: all 0.4s ease 0s;
}

.purchase-btn:active {
    box-shadow: 0 3px 0 #3f0d12;
    top: 4px;
}

.input {
    background-color: #eee;
	border: none;
	border-radius: 5px;
	padding: 12px 15px;
	margin: 8px 0;
    float: right;
}


.buyh2 {
    text-align: center;
    position: relative;
    color: black;
}

.investSpan {
    position: relative;
    top: 15px;
    left: -10px;
    font-size: 20px;
    font-weight: bold;
}

.list-button {
    width: 100px;
    /* height: 100px;  */
}

.addToListContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    position: relative;
    top: 25px
}

.watchlist-items {
    display: flex;
    justify-content: center;
    align-items: center;
}

.shares-box {
    display: inline-block;
}

.shares-buy-sell {
    border-bottom: 1px solid #E3E9ED;
}

.purchase-bttn {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    margin: 0;
    position: absolute;
    bottom: 50px;
    width: 98%;
    right: -7px;
}

.purchase-bttn button{
    width: 100%;
    height: 40px;
    font-size: 14px;
    font-weight: bold;
    border-radius: 4px;
    border: 1px blue;
    background: black;
    color: #ffffff;
    letter-spacing: 1px;
    text-transform: uppercase;
    position: relative;
    top: 0px;
    transition: all ease 0.3s;
    cursor: pointer;
}

.purchase-bttn button:hover {
    color: #ffffff !important;
    background-color: #3f0d12;
    background-image: linear-gradient(315deg, #3f0d12 0%, #a71d31 74%);
    transition: all 0.4s ease 0s;
    cursor: pointer;
    box-shadow: 0px 0px 2px 1px #9e9d9d;
}
