.navBar {
    border-bottom: 1px solid black;
    width: 100%;
    height: 50px;
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
}

.btn {
    border-radius: 4px;
	border: 1px blue;
	background: radial-gradient(900px 900px at top center,#5e5e5e,#2d3334,#262626);
	color: #FFFFFF;
	font-size: 12px;
	font-weight: bold;
	padding: 12px;
	letter-spacing: 1px;
	text-transform: uppercase;
	margin: 5px;
	width: 100px;
    position: relative;
    top: 0px;
    transition: all ease 0.3s;
}
.btn1:hover {
    color: #ffffff !important;
    background: #f6b93b;
    background-color: #20bf55;
    background-image: linear-gradient(315deg, #20bf55 0%, #01baef 74%);
    transition: all 0.4s ease 0s;

}

.btn2:hover {
    color: #ffffff !important;
    background-color: #3f0d12;
    background-image: linear-gradient(315deg, #3f0d12 0%, #a71d31 74%);
    transition: all 0.4s ease 0s;
}

.btn1:active {
    box-shadow: 0 3px 0 #00823F;
    top: 4px;
}
.btn2:active {
    box-shadow: 0 3px 0 #00823F;
    top: 4px;
}

.logo {
position: relative;
top: 65px;
right: 55px;
}

.photo {
    width:auto;
    background-size: cover;
}

.navBar2 {
    border-bottom: 1px solid black;
    width: 100%;
    height: 50px;
    display: flex;
    align-items: flex-end; 
    /* justify-content: space-between;  */
}

.navBar2Container {
    display: flex;
    justify-content: space-between;
}

.dropdownContent {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    right: 4px;
    left: auto;
  }

  .dropdownContent .links {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }

  .dropdown:hover .dropdownContent {
    display: block;
  }


.dropdownContent a:hover {background-color: #ddd;}

.dropdown:hover .dropdownContent {display: block;}

.dropdown:hover .dropbtn {background-color: #3e8e41;}

.profileDropdown {
    float: right;
    width: 500px;
}
