@import url('./graph.css');
@import url('./sldeimage.css');



.sneax-dashboard-container {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-evenly;
    background-color: white;
    margin-top: 35px;
}

/* ***************DASH BOARD INFO***************** */

.sneax-dash-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    /* width: auto; */
    height: 100vh;
    margin-left: 300px;
}

.sneax-dash-info-box{
    width: 800px;

}

.sneax-shares-container {
    display: flex;
    flex-direction: column;
    background-color: white;
}

.sneax-graph {
   width: 800px;
   height: 500px;
   border-bottom: 1px solid #E3E9ED;
}

.buying-power-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    border-bottom: 1px solid #E3E9ED;
    padding: 10px;
    margin-top: 10px;

}

.dash-buying-power {
    font-family: 'Rubik', sans-serif;
    color: grey;
    font-size: 24px;
    font-weight: 500;
}

.dash-wallet {
    font-family: 'Rubik', sans-serif;
    color: grey;
    font-size: 24px;
    font-weight: 500;
}

.random-dash {
    margin-top: 70px;
}

.random-dash p{
    width: 90%;
    font-family: 'Rubik', sans-serif;
    color: #8e9396;
    margin-left: 10px;
    font-size: 15px;
}



/********************8SHARES CONTAINER **********************/

.sneax-link {
    padding: 0;
    margin: 0;
}

.sneax-shares-container {
    display: flex;
    flex-direction: column;
    width: auto;
    position: sticky;
    margin-top: 30px;

}

.dash-shares-box{
    margin-left: 40px;
    box-shadow: 0px 8px 24px rgb(0 0 0 / 20%);
    border-radius: 6px;
    width: 440px;
    height: 419px;
    line-height: 20px;
    overflow: scroll;
}

.shares {
    display: flex;
    border-bottom: 1px solid #E3E9ED;
    width: auto;
    padding: 7px;
    align-items: center;
    justify-content: space-between;

}

.shares h1{
    font-weight: 600;
    font-size: 25px;
    font-family: 'Rubik', sans-serif;
    margin-left: 20px;
    text-align: center;
}

.single-sneax-container {
    display: flex;
    flex-direction: row;
    /* justify-content: flex-end; */
    justify-content: space-between;
    width: 100%;
    padding: 5px;

}

.single-sneax-container:hover {
    background-color: #f4f6f8;
}

.sneax-name-shares {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    align-items: center;
}
.dash-sneax-info  {
    margin-right: 12px;
    width: 40%;
}


.dash-sneax-info p {
    font-family: 'Rubik', sans-serif;
    margin: 2px;
    /* top, right, bottom , left */
    padding: 0;
    font-weight: 600;

}

.dash-sneax-info p:hover {
    color: grey;

}

.trade-bttn {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    border-bottom: 1px solid #E3E9ED;
    margin: 0;
}

.trade-bttn button {
    width: 100%;
    height: 40px;
    font-size: 14px;
    font-weight: bold;
    border-radius: 4px;
    border: 1px blue;
    background: black;
    color: #ffffff;
    letter-spacing: 1px;
    text-transform: uppercase;
    position: relative;
    top: 0px;
    transition: all ease 0.3s;
    cursor: pointer;


}

.trade-bttn button:hover {
    color: #ffffff !important;
    background-color: #3f0d12;
    background-image: linear-gradient(315deg, #3f0d12 0%, #a71d31 74%);
    transition: all 0.4s ease 0s;
    cursor: pointer;
    box-shadow: 0px 0px 2px 1px #9e9d9d;
}
/* ********* BUY SELL CANCEL BUTTONS ********************* */


/* .sell_form_container {
    position: sticky;
    bottom: 100px;
    margin: 0 auto;
    width: 400px;
    border: 1px solid black;
} */

.buy-sell-bttn-container {
    width: 100%;
    height: auto;
}

.buy-sell-bttns-box {
    display: flex;
    justify-content: center;
    flex-direction: row;
    height: 60px;
    width: 100%;
    margin-bottom: 20px;

}

.shares-buy-bttn {
    margin-right: 20px;
}

.shares-buy-bttn button{
    width: 130px;
    height: 100%;
    font-size: 14px;
    font-weight: bold;
    border-radius: 4px;
    border: 1px blue;
    background: black;
    color: #ffffff;
    letter-spacing: 1px;
    text-transform: uppercase;
    position: relative;
    top: 0px;
    transition: all ease 0.3s;
    cursor: pointer;
    padding: 12px;

}

.shares-buy-bttn button:hover{
    color: #ffffff !important;
    background-color: #3f0d12;
    background-image: linear-gradient(315deg, #3f0d12 0%, #a71d31 74%);
    transition: all 0.4s ease 0s;
    cursor: pointer;
    box-shadow: 0px 0px 2px 1px #9e9d9d;
}

.shares-sell-bttn {
    margin-right: 20px;
}

.shares-sell-bttn button{
    width: 130px;
    height: 100%;
    font-size: 18px;
    padding: 12px;
    border-radius: 4px;
    border: 1px blue;
    background: black;
    color: #FFFFFF;
    font-size: 12px;
    font-weight: bold;
    letter-spacing: 1px;
    text-transform: uppercase;
    position: relative;
    top: 0px;
    transition: all ease 0.3s;
    cursor: pointer;



}

.shares-sell-bttn button:hover{
    color: #ffffff !important;
    background-color: #3f0d12;
    background-image: linear-gradient(315deg, #3f0d12 0%, #a71d31 74%);
    transition: all 0.4s ease 0s;
    cursor: pointer;
    box-shadow: 0px 0px 2px 1px #9e9d9d;
}

.shares-cancel-bttn button{
    height: 100%;
    width: 130px;
    font-size: 15px;
    padding: 12px;
    border-radius: 4px;
    border: 1px blue;
    background: black;
    color: #FFFFFF;
    font-size: 12px;
    font-weight: bold;
    letter-spacing: 1px;
    text-transform: uppercase;
    position: relative;
    top: 0px;
    transition: all ease 0.3s;
    cursor: pointer;
}

.shares-cancel-bttn button:hover{
    color: #ffffff !important;
    background-color: #3f0d12;
    background-image: linear-gradient(315deg, #3f0d12 0%, #a71d31 74%);
    transition: all 0.4s ease 0s;
    cursor: pointer;
    box-shadow: 0px 0px 2px 1px #9e9d9d;
}


/* ********* BUY SELL FORMS ********************* */


.dash-shares-form-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    background-color: white;
    border-radius: 5px;

}

.shares-form {
    background-color: white;
    width:300px
}

.form-divs {
    display: flex;
    flex-direction: column;
    margin: 20px;

}

.form-divs h1 {
    font-family: 'Rubik', sans-serif;
    font-size: 30px;
    text-align:  center;
}

.form-divs label {
    font-family: 'Rubik', sans-serif;
    margin-bottom: 7px;

}

.form-divs input {
    height: 25px;
    border-radius: 6px;
}

.form-divs button {
    width: 100%;
    height: 100%;
    margin-right: 20px;
    margin-bottom: 20px;
    font-size: 14px;
    font-weight: bold;
    border-radius: 4px;
    border: 1px blue;
    background: black;
    color: #ffffff;
    letter-spacing: 1px;
    text-transform: uppercase;
    position: relative;
    top: 0px;
    transition: all ease 0.3s;
    cursor: pointer;
    padding: 12px;

}


.form-divs button:hover {
    color: #ffffff !important;
    background-color: #3f0d12;
    background-image: linear-gradient(315deg, #3f0d12 0%, #a71d31 74%);
    transition: all 0.4s ease 0s;
    cursor: pointer;
    box-shadow: 0px 0px 2px 1px #9e9d9d;
}


/* ****************WATCHLIST CONTAINER******************* */

.testing-container {
    margin-top: 8px;
    width: 100%;
    overflow: scroll;
    position: sticky;

}
.testing-container h1{
    font-family: 'Rubik', sans-serif;
    font-weight: 600;
    font-size: 25px;
}


.fas.fa-plus, .far.fa-edit, .fas.fa-trash-alt {
    cursor: pointer;
    font-size: 27px;
    color: black;
    margin: 10px;
}

.fas.fa-plus:hover, .far.fa-edit:hover, .fas.fa-trash-alt:hover{
    color: grey;
}



.watchlist-container {
    display: flex;
    flex-direction: column;
    margin-left: 40px;
    box-shadow: 0px 8px 24px rgb(0 0 0 / 20%);
    border-radius: 6px;
    width: 440px;
    height: 600px;
    line-height: 20px;
    text-align: center;
    margin-top: 20px;
}

.test-container-ignore {
    display: flex;
    justify-content: space-between;
    width: 100%;
    overflow: scroll;
}


.watch-items-container {
    display: flex;
    padding: 10px;
    width: 100%;
    flex-direction: row;
    align-items: center;
    border-top: 1px solid #E3E9ED;
    border-bottom: 1px solid #E3E9ED;
}

.watch-items-container:hover  {
    color: grey;
}

.delete-list-bttn i {
    visibility: hidden;
}

.test-container-ignore:hover .delete-list-bttn i {
    visibility: visible;
}


.delete-list-bttn {
    display: flex;
    align-items: center;
}


.items-link {
    text-decoration: none;
    color: black
}

.watchlist-img {
    width: 80px;
    float: left;
}

.watchlist-add-edit {
    padding: 10px;
    border-bottom: 1px solid #E3E9ED;
}



.testing-btns2 {
    display: flex;
    flex-direction: column;
    margin-top: 30px;
}

.watchlist-bttn {
    margin: 4px;
}

.watchlist-bttn button{
    width: 100%;
    height: 40px;
    font-size: 14px;
    font-weight: bold;
    border-radius: 4px;
    border: 1px blue;
    background: black;
    color: #ffffff;
    letter-spacing: 1px;
    text-transform: uppercase;
    position: relative;
    top: 0px;
    transition: all ease 0.3s;
    cursor: pointer;
}

.watchlist-bttn button:hover {
    color: #ffffff !important;
    background-color: #3f0d12;
    background-image: linear-gradient(315deg, #3f0d12 0%, #a71d31 74%);
    transition: all 0.4s ease 0s;
    cursor: pointer;
    box-shadow: 0px 0px 2px 1px #9e9d9d;
}
