/* ****************WATCHLIST CONTAINER******************* */

.testing-container {
    margin-top: 8px;
    width: 100%;
    overflow: scroll;
    position: sticky;
}

.testing-container h1 {
    font-family: 'Rubik', sans-serif;
    font-weight: 600;
    font-size: 25px;
}

.fas.fa-plus,
.far.fa-edit,
.fas.fa-trash-alt {
    cursor: pointer;
    font-size: 27px;
    color: black;
    margin: 10px;
}

.fas.fa-plus:hover,
.far.fa-edit:hover,
.fas.fa-trash-alt:hover {
    color: grey;
}

.watchlist-container {
    display: flex;
    flex-direction: column;
    margin-left: 40px;
    box-shadow: 0px 8px 24px rgb(0 0 0 / 20%);
    border-radius: 6px;
    width: 440px;
    height: 600px;
    line-height: 20px;
    text-align: center;
    margin-top: 20px;
}

.test-container-ignore {
    display: flex;
    justify-content: space-between;
    width: 100%;
    overflow: scroll;
}

.watch-items-container {
    display: flex;
    padding: 10px;
    width: 100%;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    border-top: 1px solid #E3E9ED;
    border-bottom: 1px solid #E3E9ED;
}

.watch-items-container:hover {
    color: grey;
}

.delete-list-bttn i {
    visibility: hidden;
}

.test-container-ignore {
    overflow: scroll;
}

.test-container-ignore:hover .delete-list-bttn i {
    visibility: visible;
}

.delete-list-bttn {
    display: flex;
    align-items: center;
}

.items-link {
    text-decoration: none;
    color: black
}

img {
    width: 80px;
    float: left;
}

.testing-btns2 {
    display: flex;
    flex-direction: column;
    margin-top: 30px;
}

.watchlist-bttn {
    margin: 4px;
}

.watchlist-bttn button {
    width: 100%;
    height: 40px;
    font-size: 14px;
    font-weight: bold;
    border-radius: 4px;
    border: 1px blue;
    background: black;
    color: #ffffff;
    letter-spacing: 1px;
    text-transform: uppercase;
    position: relative;
    top: 0px;
    transition: all ease 0.3s;
    cursor: pointer;
}

.watchlist-bttn button:hover {
    color: #ffffff !important;
    background-color: #3f0d12;
    background-image: linear-gradient(315deg, #3f0d12 0%, #a71d31 74%);
    transition: all 0.4s ease 0s;
    cursor: pointer;
    box-shadow: 0px 0px 2px 1px #9e9d9d;
}

.watchlist-button:focus {
    color: #ffffff !important;
    background-color: #3f0d12;
    background-image: linear-gradient(315deg, #3f0d12 0%, #a71d31 74%);
    transition: all 0.4s ease 0s;
    cursor: pointer;
    box-shadow: 0px 0px 2px 1px #9e9d9d;
}

.test-btn:focus {
    color: #ffffff !important;
    background-color: #3f0d12;
    background-image: linear-gradient(315deg, #3f0d12 0%, #a71d31 74%);
    transition: all 0.4s ease 0s;
    cursor: pointer;
    box-shadow: 0px 0px 2px 1px #9e9d9d;
}

.test-btn {
    border-radius: 4px;
    border: 1px blue;
    background: radial-gradient(900px 900px at top center, #5e5e5e, #2d3334, #262626);
    color: #FFFFFF;
    font-size: 12px;
    font-weight: bold;
    height: 30px;
    letter-spacing: 1px;
    text-transform: uppercase;
    width: 115px;
    position: relative;
    transition: all ease 0.3s;
}

.test-btn:hover {
    color: #ffffff !important;
    background-color: #3f0d12;
    background-image: linear-gradient(315deg, #3f0d12 0%, #a71d31 74%);
    transition: all 0.4s ease 0s;
    cursor: pointer;
    box-shadow: 0px 0px 2px 1px #9e9d9d;
}

.input2 {
    height: 20px;
    padding: 3px;
}
